@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');
#homepage-wlppr-el{
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
nav{
    margin-bottom: 20px;
}
.navbar-brand img{
    height: 35px;
    width: 35px;
}
.navbar-dark{
    background: darkblue;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}
.row-ui h1{
    font-family: 'Train One', cursive;
}
.row-ui p{
    font-size: 18px;
}
.row-ui h1,p{
    color: aliceblue;
}
.footer{
    background: rgb(252, 157, 32);
    margin: 0px auto;
    padding: 20px 0px;
}